@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bg: 13 14 16;
        --panel: 22 24 28;
        --border: 38 44 56;
    }

    html, body, #root {
        height: 100%;
    }

    body {
        @apply bg-[rgb(var(--bg))] text-slate-100;
    }
}
